*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0%;
    background-color: black;
    color: white;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
header{
    width: 100%;
    height: 20vh;
    clear: both;
    display: table;
}
.content{
    width: 100%;
    height: 80vh;
    padding: 50px;
    text-align: center;
}
.content h1{
    font-size: 44px;
    font-weight: 900; 

}
.content p{
    font-size: 24px;
    font-weight: 100;
  
}

.logo{
    width: 50%;
    height: 20vh;
    float: left;
    text-align: center;
    padding: 25px;
}
nav{
    width: 50%;
    height: 20vh;
    float: left;
    padding: 25px;
    text-align: center;
}
.logo img{
    width: 200px;
}
nav select ,
nav button{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border:1px solid white;
    color: white;
}
.content button{
    width: 150px;
    height: 50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
.content input{
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px solid white;
}
.trending{
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    clear:both;
    display: table;


}
.trend{
    width: 25%;
    float: left;
    padding: 20px;
}
.trend img{
    width: 100%;
}
.reasons{
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    clear:both;
    display: table;
}
.reason{
    width: 25%;
    float: left;
    padding: 20px;
}
.reason figure{
    margin: 0%;
    border: 1px solid white;
    padding: 10px;
}
.feq{
    width: 80%;
    text-align: center;
    margin: 30px auto;
}
.feq details{
    background-color: brown;
    text-align: start;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
footer{
    border-top: 1px solid gray;
    text-align: center;
    padding: 50px;

}
